{% extends 'index.html' %}
{% load static %}
{% block body %}
	<div class="w3l_banner_info">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:10px">
							<div class="slider_banner_info">
							
								
							</div>
						</div>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>


<section class="about py-lg-5 py-md-4 py-md-3 py-2" id="about">
<div class="about py-lg-5 py-md-4 py-md-3 py-2">
<div class="container">
<h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">ABOUT US</h3><title style="height:0" title="About Us"></title>
<div class="row">
<div class="col-md-6 com-sm-6 w3three_al1">
<h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Take A Look About Our Company</h4>
<p class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">
We specialize in providing domestic Charwomen service across Dublin, Ireland.You can rely on us for your domestic Charwoman staffing needs. Being a best Charwomen agency in Dublin, we believe there is a void in affordable luxury. Whatever we design or create must improve the lives of as many people as possible be it our consumers, employees or stakeholders and community.
The charwomen service that we provide have the necessary experience and skills to suit your domestic needs.We have been placing qualified house charwomen for many years, so you can trust us to find for you the best charwomen. Using design thinking as a business tool, we create environments, products and services at democratic prices that awe inspire people and lift them out of everyday into a happy and creative world.</p>
</div>
<div class="col-md-6 com-sm-6 w3three_al">
<img src="images/ab.jpg" alt="" class="img-fluid">
</div>
</div>
<div class="w3_acd">
<h5>Why Choose Charwomen Services</h5>
			<div class="w3-agileits-team-title"> 
				
				
			<div id="horizontalTab">
					<ul class=" resp-tabs-list">
					<li>
						<h5>Quick And Easy</h5>
						
					</li>
					<li>
						<h5>Safe And Reliable</h5>
					</li>
					<li>
						<h5>Multiple Options</h5>
					</li>
					<li>
					<h5>High Quality</h5>
					</li>
					</ul>
					<div class=" resp-tabs-container">
					<div class="tab1">
						<div class="row">
<div class="col-md-6 com-sm-6 w3three_al2">
<div class="test-wel">
						
						<p>We at Online Charwoman Service bring our wide experience of offering maids and domestic help services which includes Housemaids, Cooks,baby sitters, elderly care at Reasonable Pricing. We Provide service to Dublin City and County including all region.</p>
						<ul>
							<li>
								<em class="fas fa-check"></em>Domestic help for your Housekeeping needs.</li>
							<li>
								<em class="fas fa-check"></em>Cooks who are flexible to cook as per your taste.</li>
							<li>
								<em class="fas fa-check"></em>Reliable nannies and babysitters to take care of your little one.</li>
							<li>
								<em class="fas fa-check"></em>Compassionate men and women for Senior Citizen Care / Patient Carere of your little one.</li>
								<li>
								<em class="fas fa-check"></em>The garden is a love song, a duet between a human being and Mother Nature.</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al3">
<img src="images/ab1.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
			</div>
	</div>
	</div>
</div>
</div>
</section>



{% endblock %}

