{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="w3l_banner_info">
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider-img">
							<div class="slider_banner_info">
							<div class="text">
								  <h3 class="" style="background-color : rgb(239, 194, 201) ; color:rgb(11, 11, 175);font-size:30px">We count Cleanliness – Every time, Everywhere.</h3>
								</div>

							</div>
						</div>
					</li>
					<li>
						<div class="slider-img-2">
							<div class="slider_banner_info">
								<div class="text">
								  <h3 class="wisteria" style="background-color : grey ; color:rgb(57, 5, 140);font-size:30px">We’ll match you with a good, experienced, and reliable babysitter that suits your requirements</h3>
								</div>

							</div>
						</div>
					</li>
					<li>
						<div class="slider-img-3">
							<div class="slider_banner_info">
								<div class="text">
								  <h3 class="wisteria" style="background-color : rgb(236, 213, 216) ; color:rgb(139, 12, 12);font-size:30px">Turn your home into a restaurant with our Private Chefs...</h3>
								</div>

							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>


</div>
</div>
</div>
</section>

{% endblock %}